/* * {
  border: 1px blue dashed
} */

body {
  background: #1A1A64;
  color: white;
  margin: auto;
  font-family: 'cinzel', sans-serif;

}

.body-container {
  /* background: #7B6FDE; */

}

header, footer{
  background: #0B0930;

}

header {
  display:flex;
  justify-content: space-between;
}

.logo {
  margin-top: 40px;
  margin-left: 30px;
  font-family: 'cinzel':900;
  font-size: 350%;

}

.header-navigation {
  display:flex;
  /* flex-direction: row; */
}

.header-navigation div {
  margin-left: 0px;
  margin-top: 40px;
  margin-right: 30px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: red;
}

.link-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;

}

 #play, #instructions {
  margin: 0 auto;
  background-color: #FCC200;
  border: 1px solid;
  padding: 10px 30px 10px 30px;
  font-size: 300%;
  font-weight: 900;
}

#play {
  margin-bottom: 18px;
}

/* #instructions {
  margin: 0 auto;
} */

/* button a {
  background: #FCC200;
  padding: 10px 30px 10px 30px;
  font-size: 300%;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


} */

footer {
  display: flex;
  justify-content: center;
  padding: 30px 0px 30px 0px;
  margin-top: 160px;
}

.feature {
  display: flex;
  justify-content: center;
  margin: 110px 0px 40px 0px;
}

.misson {
  margin-bottom: 30px;

}

.mission p {
  display:flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 180%;
}

.avenger-mission {
  font-size: 215%;
  font-weight: 900;
}

.feature img {
  /* max-width:100%;
  height:auto; */
  height: 50%;
  width: 50%;
}

.play-container {
  display: flex;
  margin: 100px 80px;
  border-color: antiquewhite;
  background-color: #1B2B42;
}

.sidebar {
  width: 38%;
  /* margin: 0px 40px; */
  padding: 10px;
  border-right: solid 2px;
}

.main-play {
  width: 75%;
  padding: 10px;
  display: flex;
  flex-direction: column;

}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-instruction {
  padding-left: 30px;
}

.question {
  font-size: 75px;
}

.multiple-choice {
  margin: 20px 0px;
}

.multiple-choice button{
  margin-right: 30px;
  padding: 20px 40px;
}

.infinity-stones img {
  width: 100%;
  height: 100%;
}

.container-about {
  text-align: center;
  margin: 110px 0px 40px 0px;
}

.container-about p {
  margin-bottom: 30px;
  font-size: 180%;
}

.main-about {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 90px;
  width: 100%;

  /* border: 2px, solid; */
}

.math-skills, .instructions {
  padding: 40px;
  margin-right: 20px;
  margin-left: 20px;
  width: 38%;
}

div.infinity-stones {
  width: 60%;
  margin: 0 auto;
}

.infinity-stones {
  background-color: #000;
  display: flex;
  flex-direction: column;
  /* margin-left: 30px;
  margin-right: 30px; */
  /* justify-content: center;
  align-items: center; */
}

.infinity-stones img {
  width: 15%;
  /* height: 15%; */
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
}

.infinity-stones p {
  font-size: 16px;
  text-align: center;
}

.infinity-stones-keeper img {
  width: 85%;
  height: 85%;

}

.infinity-stones div {
  display: flex;
  justify-content: center;
}

.sidebar-hover-message {
  width: 60%;
  margin: 0 auto;
  margin-top: 35px;
}

.main-play {

}

.question div, .multiple-choice div, .answer-message div {
  padding: 20px;
  border-radius: 1px solid;
}

.solve {

}

.answer-message {
  padding: 20px;
}
